<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- SECCION AÑADIR -->
<!-- Componente añadir grupo MODAL -->
<div th:fragment="add_grupo">
    <div id="addGrupo" class="modal fade"
         data-backdrop="static" tabindex="-1"
         role="dialog" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar Grupo
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <!--FORM Y COMPONENTES-->
                <div class="modal-body">
                    <form method="post" class="clearfix" th:action="@{/accesos/grupos/add_grupo}">
                        <div class="form-group">
                            <label class="control-label">Nombre del grupo</label>
                            <input type="name" class="form-control" name="group_name"
                                   id="group_name" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nivel del grupo</label>
                            <select class="form-control" name="group_level" id="group_level">
                                <option value="1">Nivel 1</option>
                                <option value="2">Nivel 2</option>
                                <option value="3">Nivel 3</option>
                                <option value="4">Nivel 4</option>
                                <option value="5">Nivel 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="group_status" id="group_status">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group clearfix">
                                <button type="submit" name="add" class="btn btn-info">Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--FIN FORM-->
            </div>
        </div>
    </div>
</div>

<!-- Componente añadir usuario MODAL -->
<div th:fragment="add_user">
    <div id="addUser" class="modal fade"
         data-backdrop="static" tabindex="-1"
         role="dialog" aria-labelledby="staticBackdropLabelU"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelU">
                        <div class="panel-heading">
                            <strong>
                                <span class="glyphicon glyphicon-th"></span>
                                <span>Agregar usuario</span>
                            </strong>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </h5>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/accesos/usuarios/add_user}">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="hidden"  name="status" th:value="1">
                            <input type="text" class="form-control" name="name"
                                   placeholder="Nombre completo"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" name="username"
                                   placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <label>Rol de usuario</label>
                            <select class="form-control" name="user_level">

                                <option
                                        th:each="grupo : ${grupos} "
                                        th:value="${grupo.getId()}"
                                        th:label="${grupo.getGroup_name()}"
                                >
                            </select>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group clearfix">
                                <button type="submit" name="add_user" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SECCION EDIT -->
<!-- Componente editar cuenta -->
<div th:fragment="edit_count">
    <div class="row">
        <div class="col-md-12">
            <!-- Mensaje de advertencia -->
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading clearfix">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span>Cambiar mi foto</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- src muestra la foto que tiene el usario -->
                            <img class="img-circle img-size-2" src="" alt="">
                        </div>
                        <div class="col-md-8">
                            <!-- action llamar al metodo para editar la cuenta -->
                            <form class="form" action="" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" name="file_upload" multiple="multiple"
                                           class="btn btn-default btn-file"/>
                                </div>
                                <div class="form-group">
                                    <!-- value el id del usuario -->
                                    <input type="hidden" name="user_id" value="">
                                    <button type="submit" name="submit" class="btn btn-warning">Cambiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span>Editar mi cuenta</span>
                </div>
                <div class="panel-body">
                    <!-- action metodo de editar pasando el ID -->
                    <form method="post" action="" class="clearfix">
                        <div class="form-group">
                            <!-- value captura el nombre del usuario -->
                            <label class="control-label">Nombres</label>
                            <input type="name" class="form-control" name="name" value="">
                        </div>
                        <div class="form-group">
                            <!-- value captura el nick del usuario -->
                            <label class="control-label">Usuario</label>
                            <input type="text" class="form-control" name="username" value="">
                        </div>
                        <div class="form-group clearfix">
                            <!-- href hace referencia al archivo de cambio de contrasena -->
                            <a href="" title="change password" class="btn btn-danger pull-right">Cambiar contraseña</a>
                            <button type="submit" name="update" class="btn btn-info">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Componente editar grupo -->
<div th:fragment="edit_group">
    <div class="login-page">
        <div class="text-center">
            <h3>Editar Grupo</h3>
        </div>
        <!-- Mensaje de advertencia aqui -->
        <!-- action referencia al archivo de editar grupo -->
        <form method="post" action="" class="clearfix">
            <div class="form-group">
                <label class="control-label">Nombre del grupo</label>
                <!-- value recupera el valor del grupo -->
                <input type="name" class="form-control" name="group-name" value="">
            </div>
            <div class="form-group">
                <label fclass="control-label">Nivel del grupo</label>
                <!-- value recupera el nivel del grupo al que pertenece -->
                <input type="number" class="form-control" name="group-level" value="">
            </div>
            <div class="form-group">
                <label>Estado</label>
                <select class="form-control" name="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <div class="form-group clearfix">
                <button type="submit" name="update" class="btn btn-info">Actualizar</button>
            </div>
        </form>
    </div>
</div>

<!-- Componente editar usuario -->
<div th:fragment="edit_user">
    <div class="row">
        <div class="col-md-12">
            <!-- Mensaje de advertencia aqui -->
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        <span>Actualiza cuenta</span>
                    </strong>
                </div>
                <div class="panel-body">
                    <!-- action referencia al archivo de editar usuario (ID) -->
                    <form method="post" action="" class="clearfix">
                        <div class="form-group">
                            <label class="control-label">Nombres</label>
                            <!-- value recupera el nombre del usuario -->
                            <input type="name" class="form-control" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Usuario</label>
                            <!-- value recupera el nickname del usuario -->
                            <input type="text" class="form-control" name="username" value="">
                        </div>
                        <div class="form-group">
                            <label>Rol de usuario</label>
                            <select class="form-control" name="level">
                                <!-- value recupera el valor del usuario -->
                                <!-- option recupera todos los roles de usuario -->
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="status">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" name="update" class="btn btn-info">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Componente de cambio de contrasena -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        <span>Cambiar contraseña</span>
                    </strong>
                </div>
                <div class="panel-body">
                    <!-- action referencia al archivo de editar usuario por id -->
                    <form action="" method="post" class="clearfix">
                        <div class="form-group">
                            <label class="control-label">Contraseña</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Ingresa la nueva contraseña" required>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" name="update-pass" class="btn btn-danger pull-right">Cambiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECCION SISTEMA -->
<!-- Componente cambiar contraseña -->
<div th:fragment="change_passw">
    <div class="login-page">
        <div class="text-center">
            <h3>Cambiar contraseña</h3>
        </div>
        <!-- Muestra de mensje, agregar accion al form-->
        <form method="post" action="" class="clearfix">
            <div class="form-group">
                <label class="control-label">Nueva contraseña</label>
                <input type="password" class="form-control" name="new-password" placeholder="Nueva contraseña">
            </div>
            <div class="form-group">
                <label class="control-label">Antigua contraseña</label>
                <input type="password" class="form-control" name="old-password" placeholder="Antigua contraseña">
            </div>
            <div class="form-group clearfix">
                <!-- Value valida que el usario tiene permisos -->
                <input type="hidden" name="id" value="">
                <button type="submit" name="update" class="btn btn-info">Cambiar</button>
            </div>
        </form>
    </div>
</div>

<!-- Componente perfil -->
<div th:fragment="profile">
    <div class="row">
        <div class="col-md-4">
            <div class="panel profile">
                <div class="jumbotron text-center bg-red">
                    <!-- src recupera la imagen del usuario -->
                    <img class="img-circle img-size-2" src="" alt="">
                    <!-- recupera el nombre del usuario -->
                    <h3>Usuario aqui</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <!-- href referencia al archivo de editar usuario -->
                    <li><a href=""> <i class="glyphicon glyphicon-edit"></i> Editar perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Componente home -->
<div th:fragment="home">
    <div class="row">
        <div class="col-md-12">
            <!-- mensaje de advertencia aqui -->
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="jumbotron text-center">
                    <h1>El placer de comprar</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECCION LISTAR -->


<!-- Componente listar media -->
<div th:fragment="list_media">
    <div class="row">
        <div class="col-md-6">
            <!-- mensaje de advertencia aqui -->
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="glyphicon glyphicon-camera"></span>
                    <span>Lista de imagenes</span>
                    <div class="pull-right">
                        <!-- action referencia al archivo media -->
                        <form class="form-inline" action="" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <input type="file" name="file_upload" multiple="multiple"
                                               class="btn btn-primary btn-file"/>
                                    </span>
                                    <button type="submit" name="submit" class="btn btn-default">Subir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center" style="width: 20%;">Tipo</th>
                            <th class="text-center" style="width: 50px;">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- listar las imagenes que se tenga -->
                        <tr class="list-inline">
                            <td class="text-center">
                                <!-- listar el ID de las imagenes -->
                            </td>
                            <td class="text-center">
                                <!-- src recupera todas las fotos almacenadas -->
                                <img src="" class="img-thumbnail" alt=""/>
                            </td>
                            <td class="text-center">
                                <!-- recupera el nombre de la imagen -->
                            </td>
                            <td class="text-center">
                                <!-- recupera el tipo de imagen -->
                            </td>
                            <td class="text-center">
                                <!-- href referencia al archivo de eliminar imagenes -->
                                <a href="" class="btn btn-danger btn-xs" title="Eliminar">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>