<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Title</title>
</head>
<body>
<header th:replace="layout/plantilla.html :: header"></header>
<div th:replace="layout/plantilla.html :: div_sidebar"></div>
<div class="page">
    <!-- Componente de los grupos -->
    <div th:fragment="list_group">
        <div class="row">
            <div class="col-md-12">
                <!-- mennsaje de arvertencia aqui -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <strong>
                            <span class="glyphicon glyphicon-th"></span>
                            <span>Grupos</span>
                        </strong>
                        <!-- href al archivo de agregar grupo -->
                        <!--<a href="#" class="btn btn-info pull-right btn-sm" th:text="Agregar">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-info text-white">
                                        <h5 class="modal-title"> AGREGAR</h5>
                                    </div>
                                </div>
                            </div>
                        </a>-->
                        <!--<a href="" class="btn btn-info pull-right btn-sm"
                           data-toggle="modal" data-target="#addGrupo">Agregar  </a>
                        -->
                        <button type="button" class="btn btn-info pull-right btn-sm" data-toggle="modal"
                                data-target="#addGrupo">
                            Agregar Grupo
                        </button>
                        <div id="addGrupo" class="modal fade"
                             data-backdrop="static" tabindex="-1"
                             role="dialog" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Agregar Grupo
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </h5>
                                    </div>
                                    <!--FORM Y COMPONENTES-->
                                    <div class="modal-body">
                                        <form method="post" class="clearfix" th:action="@{/accesos/grupos/add_grupo}">
                                            <div class="form-group">
                                                <label class="control-label">Nombre del grupo</label>
                                                <input type="name" class="form-control" name="group_name"
                                                       id="group_name" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Nivel del grupo</label>
                                                <select class="form-control" name="group_level" id="group_level">
                                                    <option value="1">Nivel 1</option>
                                                    <option value="2">Nivel 2</option>
                                                    <option value="3">Nivel 3</option>
                                                    <option value="4">Nivel 4</option>
                                                    <option value="5">Nivel 5</option>
                                                    <option value="6">Nivel 6</option>
                                                    <option value="7">Nivel 7</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Estado</label>
                                                <select class="form-control" name="group_status" id="group_status">
                                                    <option value="1">Activo</option>
                                                    <option value="0">Inactivo</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group clearfix">
                                                    <button type="submit" name="add" class="btn btn-info">Guardar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!--FIN FORM-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered"
                               th:if="${groups !=null and !groups.isEmpty()}">
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">#</th>
                                <th>Nombre del grupo</th>
                                <th class="text-center" style="width: 20%;">Nivel del grupo</th>
                                <th class="text-center" style="width: 15%;">Estado</th>
                                <th class="text-center" style="width: 100px;">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- listar todos los grupos existentes -->
                            <tr th:each="grupo,contador : ${groups} ">
                                <td class="text-center">
                                    <!-- listar el ID de los grupos existentes -->
                                    <span th:text="${contador.count}"/>
                                </td>
                                <td>
                                    <!-- listar los grupos por el nombre -->
                                    <span th:text="${grupo.getGroup_name()}"/>
                                </td>
                                <td class="text-center">
                                    <!-- listar el nivel del grupo existente -->
                                    <span th:text="${grupo.getGroup_level()}"/>
                                </td>
                                <td class="text-center">
                                    <span class="label label-success"
                                          th:if="${grupo.getGroup_status()==1}"
                                    >
                                        <!-- en caso de que este activo -->
                                        Activo
                                    </span>
                                    <span class="label label-danger"
                                          th:if="${grupo.getGroup_status()==0}"
                                    >
                                        <!-- en caso de que este inactivo -->
                                        Inactivo
                                    </span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <!-- href referencia al archivo de editar grupo por (ID) -->
                                        <a href="" class="btn btn-xs btn-warning" data-toggle="tooltip" title="Editar">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        <!-- href referencia al archivo de borrar grupo por (ID) -->
                                        <a th:href="@{/accesos/grupos/eliminar_grupo/} + ${grupo.getId()}"
                                           class="btn btn-xs btn-danger" data-toggle="tooltip" title="Eliminar">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>