<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <!--<title>Agregar Productos</title>-->
</head>
<body>
<script type="text/javascript">
    function setDate(){
        setSaleBuyPrice();
        /*
        var d = new Date();
        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        var date = addZero(d.getUTCDate()-1);
        var month = addZero(d.getUTCMonth()+1);
        var year = addZero(d.getUTCFullYear());
        var h = addZero(d.getHours());
        var m = addZero(d.getMinutes());
        var s = addZero(d.getSeconds());
        var dateStr = year + "-" + month  + "-" + date + " "+ h + ":" + m + ":" + s;
        document.form1.date.value = dateStr;
        document.form1.modified_date.value = dateStr;

         */
    }
    
    function setSaleBuyPrice() {
        var dolarB = document.getElementById("buy_priceD").value;
        var ctvB = document.getElementById("buy_priceC").value;
        var dolarS = document.getElementById("sale_priceD").value;
        var ctvS = document.getElementById("sale_priceC").value;
        if(ctvB < 10 && ctvB > 1){
            ctvB = '0'+ctvB;
        }
        if(ctvS < 10 && ctvS > 1){
            ctvS = '0'+ctvS;
        }
        var priceB = dolarB+'.'+ctvB;
        var priceS = dolarS+'.'+ctvS;
        document.getElementById("buy_price").value = priceB;
        document.getElementById("sale_price").value = priceS;
    }
</script>

<div id="wrapper">
    <nav th:replace="layout/plantilla.html :: div_sidebar"/>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="layout/plantilla.html :: header"/>
            <div class="container-fluid">
                <div >
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Zona de mensaje -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <span class="fa fa-th"></span>
                                        <span>Agregar producto</span>
                                    </strong>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" th:href="@{/productos}">Regresar</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12" style="padding-bottom: .75rem;padding-top: .75rem">
                                        <!-- action hace referencia al archivo anadir producto -->
                                        <form name="form1" action="#" th:action="@{/productos/agregar_nuevo_producto}" method="post">
                                            <input type="hidden" typeof="date" name="date" id="date" th:value="${#dates.format(#dates.createNow(),'YYYY-MM-dd HH:mm:ss')}">
                                            <input type="hidden" typeof="date" name="modified_date" id="modified_date" th:value="${#dates.format(#dates.createNow(),'YYYY-MM-dd HH:mm:ss')}">
                                            <div class="form-group">
                                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-th-large"></i>
                                    </span>
                                                    <input type="text" class="form-control" name="name" placeholder="Descripción" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6" th:if="${categories != null and !categories.isEmpty()}">
                                                        <span>Selecciona una categoría</span>
                                                        <select class="form-control" id="categories" name="categories">
                                                            <option th:each="categ : ${categories}" th:value="${categ.getId()}" th:label="${categ.getName()}">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6" th:if="${media != null and !media.isEmpty()}">
                                                        <span>Selecciona una imagen</span>
                                                        <select class="form-control" id="media_id" name="media_id">
                                                            <option th:each="media : ${media}" th:value="${media.getId()}" th:label="${media.getFile_name()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        </span>
                                                            <input type="number" class="form-control" name="quantity" placeholder="Cantidad" required min=1 oninput="validity.valid||(value='');">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                                            <input type="number" class="form-control dlrs" id="buy_priceD" placeholder="Precio de compra" required step="1" min=0 max=999 maxlength="3" oninput="validity.valid||(value='');">
                                                            <span class="input-group-addon">.</span>
                                                            <input type="number" class="form-control ctvs" id="buy_priceC" placeholder="00" required step="1" min=0 max=99 maxlength="2" oninput="validity.valid||(value='');" value=00>
                                                            <input type="hidden" name="buy_price" id="buy_price">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                                            <input type="number" class="form-control dlrs" id="sale_priceD" placeholder="Precio de venta" required step="1" min=0 max=999 maxlength="3" oninput="validity.valid||(value='');">
                                                            <span class="input-group-addon">.</span>
                                                            <input type="number" class="form-control ctvs" id="sale_priceC"  placeholder="00" required step="1" min=0 max=99 maxlength="2" oninput="validity.valid||(value='');" value=00>
                                                            <input type="hidden" name="sale_price" id="sale_price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" name="add_product" class="btn btn-danger" onclick="setDate()">Agregar producto</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla.html :: footer"></div>
    </div>
</div>

</body>
</html>