<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Inicio</title>
</head>
<body>
<header th:replace="layout/plantilla.html :: header"></header>
<div th:replace="layout/plantilla.html :: div_sidebar"></div>
<div class="page">
    <div class="container-fluid">

        BIENVENIDO AL SISTEMA DE INVENTARIO DE SUPERMAXI

        <div th:if="${users !=null and !users.empty}">
            <span th:each="user : ${users} ">
                <h1 th:text="${user.getUsername()}"></h1>
                <h3 th:text="${user.getLast_login()}"></h3>
                <h3 th:text="${user.getPassword()}"></h3>
                <h3 th:text="${user.getUsername()}"></h3>
            </span>
        </div>
    </div>

    <div th:if="${categorie !=null and !categorie.empty}">
        <span th:each="categorie : ${categorie}">
            <h2 th:text="${categorie.getId()}"></h2>
            <h2 th:text="${categorie.getName()}"></h2>
        </span>

    </div>
    <!--
    <div th:replace="layout/componentes.html :: add_grupo"></div>
    <div th:replace="layout/componentes.html :: add_product"></div>
    <div th:replace="layout/componentes.html :: add_prod_categ"></div>
    <div th:replace="layout/componentes.html :: change_passw"></div>
    <div th:replace="layout/componentes.html :: edit_count"></div>
    <div th:replace="layout/componentes.html :: edit_categ"></div>
    <div th:replace="layout/componentes.html :: edit_group"></div>
    <div th:replace="layout/componentes.html :: edit_product"></div>
    <div th:replace="layout/componentes.html :: edit_user"></div>
    <div th:replace="layout/componentes.html :: list_group"></div>
    <div th:replace="layout/componentes.html :: home"></div>
    <div th:replace="layout/componentes.html :: list_media"></div>
    <div th:replace="layout/componentes.html :: list_product"></div>
    <div th:replace="layout/componentes.html :: profile"></div>
    <div th:replace="layout/componentes.html :: list_user"></div>
    <div th:replace="layout/componentes.html :: list_ventas"></div>
    -->
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>