<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <nav th:replace="layout/plantilla.html :: div_sidebar"/>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="layout/plantilla.html :: header"/>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generar Reporte</a>
                </div>
                <div>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- MENSAJE DE ADVERTENCIA -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel panel-box clearfix">
                                    <div class="panel-icon pull-left bg-green">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="panel-value pull-right">
                                        <h2 class="margin-top" th:text="${countUsers}">
                                            <!-- CANTIDAD DE USUARIOS -->
                                        </h2>
                                        <p class="text-muted">Usuarios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-box clearfix">
                                    <div class="panel-icon pull-left bg-red">
                                        <i class="fa fa-list"></i>
                                    </div>
                                    <div class="panel-value pull-right">
                                        <!-- CANTIDAD DE CATEGORIAS -->
                                        <h2 class="margin-top" th:text="${countCat}"></h2>
                                        <p class="text-muted">Categorías</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-box clearfix">
                                    <div class="panel-icon pull-left bg-blue">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="panel-value pull-right">
                                        <h2 class="margin-top" th:text="${countProd}">
                                            <!-- CANTIDAD DE PRODUCTOS -->
                                        </h2>
                                        <p class="text-muted">Productos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-box clearfix">
                                    <div class="panel-icon pull-left bg-yellow">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <div class="panel-value pull-right">
                                        <h2 class="margin-top" th:text="${ventasCount}">
                                            <!-- CANTIDAD DE VENTAS -->
                                        </h2>
                                        <p class="text-muted">Ventas</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>
                                            <span class="glyphicon glyphicon-th"></span>
                                            <span>Productos más vendidos</span>
                                        </strong>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width: 40%;">Título</th>
                                                <th class="text-center" style="width: 10%;">Total vendido</th>
                                                <th class="text-center" style="width: 20%;">Cantidad total</th>
                                            <tr>
                                            </thead>
                                            <tbody th:each="most: ${mostSales}">
                                            <!-- PRODUCOTS MAS VENDIDOS -->
                                            <tr>
                                                <td class="text-center">
                                                    <!-- NOMBRE DEL PRODUCTO -->
                                                    <span th:text="${most.get(0)}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- TOTAL VENDIDO-->
                                                    <span th:text="${most.get(1)}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- CANTIDAD VENDIDA-->
                                                    <span th:text="${most.get(2)}"/>
                                                </td>
                                            </tr>
                                            <tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>
                                            <span class="glyphicon glyphicon-th"></span>
                                            <span>ÚLTIMAS VENTAS</span>
                                        </strong>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width: 10%;">#</th>
                                                <th class="text-center" style="width: 25%;">Producto</th>
                                                <th class="text-center" style="width: 30%;">Fecha</th>
                                                <th class="text-center" style="width: 25%;">Venta total</th>
                                            </tr>
                                            </thead>
                                            <tbody th:each="sales, contador : ${latestSales}">
                                            <!-- VENTAS RECIENTES -->
                                            <tr>
                                                <td class="text-center">
                                                    <!-- CONTADOR -->
                                                    <span th:text="${contador.count}"/>
                                                </td>
                                                <td class="text-center">
                                                    <a th:href="@{/ventas/editar_venta/}+${sales.getId()}">
                                                        <!-- NOMBRE DEL PRODUCTO -->
                                                        <span th:text="${sales.getProduct_id().getName()}"/>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <!-- FECHA DE VENTA -->
                                                    <span th:text="${sales.getDateFormat()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- PRECIO DE VENTA -->
                                                    <span th:text="${'$ '+sales.getPrice()}"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>
                                            <span class="glyphicon glyphicon-th"></span>
                                            <span>Productos recientemente añadidos</span>
                                        </strong>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <!-- PRODUCTOS RECIENTES -->
                                            <a class="list-group-item clearfix" th:href="@{/productos}"
                                               th:each="productRecient : ${productRecient}">
                                                <h4 class="list-group-item-heading">
                                                    <!-- COMPORBACION DE IMAGEN -->
                                                    </span>
                                                    <img class="img-avatar img-circle"
                                                         th:src="@{'/imagenes/' + ${productRecient.getMedia_id().getFile_name()}}"
                                                         th:alt="${productRecient.media_id.getFile_name()}">

                                                    <span class="label label-warning pull-right"
                                                          th:text=" 'Precio de compra: ' + ${productRecient.getBuy_price()}"></span>
                                                </h4>
                                                <span class="list-group-item-text pull-left"
                                                      th:text="${productRecient.getName()}">
                                </span>
                                                <span class="list-group-item-text pull-right"
                                                      th:text="'Categoria: ' + ${productRecient.getCategories().getName()}">
                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla.html :: footer"></div>
    </div>
</div>


</body>
</html>