<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Productos</title>
</head>
<body>
<header th:replace="layout/plantilla.html :: header"></header>
<div th:replace="layout/plantilla.html :: div_sidebar"></div>
<div class="page">
    <!--<div th:replace="layout/componentes :: edit_count"></div>-->
    <div th:fragment="edit_count">
        <div class="row">
            <div class="col-md-12">
                <!-- Mensaje de advertencia -->
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-heading clearfix">
                            <span class="glyphicon glyphicon-camera"></span>
                            <span>Cambiar mi foto</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" th:if="${usuario != null}">
                            <div class="col-md-4" th:if="${usuario.getImage() == null}">
                                <!-- src muestra la foto que tiene el usario -->
                                <img class="img-circle img-size-2" th:src="@{/imagenes/no image.jpg}" alt="Avatar">
                            </div>
                            <div class="col-md-4" th:if="${usuario.getImage() != null}">
                                <img class="img-circle img-size-2" th:src="@{'/imagenes/'+${usuario.getImage()}}" alt="Avatar">
                            </div>
                            <div class="col-md-8">
                                <!-- action llamar al metodo para editar la cuenta -->
                                <form class="form" th:action="@{/perfil/change_avatar}" th:object="${usuario}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" name="file" multiple="multiple"
                                               class="btn-default btn-file" style="padding:0;"/>
                                    </div>
                                    <div class="form-group">
                                        <!-- value el id del usuario -->
                                        <input type="hidden" name="id" th:value="*{id}">
                                        <button type="submit" name="submit" class="btn btn-warning">Cambiar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Editar mi cuenta</span>
                    </div>
                    <div class="panel-body">
                        <!-- action metodo de editar pasando el ID -->
                        <form method="post" th:action="@{/perfil/edit_user}" th:object="${usuario}"
                              class="clearfix">
                            <div class="form-group">
                                <!-- value captura el nombre del usuario -->
                                <label class="control-label">Nombres</label>
                                <input type="hidden" name="id" th:value="*{id}">
                                <input type="name" class="form-control" name="name" th:value="*{name}">
                            </div>
                            <div class="form-group">
                                <!-- value captura el nick del usuario -->
                                <label class="control-label">Usuario</label>
                                <input type="text" class="form-control" name="username" th:value="*{username}">
                            </div>
                            <div class="form-group clearfix">
                                <!-- href hace referencia al archivo de cambio de contrasena -->
                              <!--  <a href="" title="change password" class="btn btn-danger pull-right">Cambiar contraseña</a>
-->
                                <button type="button" class="btn btn-info pull-right btn-sm" data-toggle="modal"
                                        data-target="#changePass">
                                    Cambiar contraseña
                                </button>
                                <button type="submit" name="update" class="btn btn-info">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="changePass" class="modal fade"
         data-backdrop="static" tabindex="-1"
         role="dialog" aria-labelledby="staticBackdropLabelP"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelP">
                        <div class="panel-heading">
                            <strong>
                                <span class="glyphicon glyphicon-th"></span>
                                <span>Cambiar contraseña</span>
                            </strong>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </h5>
                </div>
                <div class="modal-body">
                    <form method="post"
                          th:action="@{/perfil/change_pass}" th:object="${usuario}">
                        <div class="form-group">
                            <label class="control-label">Nueva contraseña</label>

                            <input type="password" class="form-control" name="password"
                                   placeholder="Nueva contraseña">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Antigua contraseña</label>
                            <input type="password" class="form-control" name="old-password"
                                   placeholder="Antigua contraseña">
                        </div>

                        <div class="modal-footer">
                            <div class="form-group clearfix">
                                <!-- Value valida que el usario tiene permisos -->
                                <input type="hidden" name="id" th:value="*{id}">
                                <button th:if="*{#old}"
                                        type="submit"
                                        name="update"
                                        class="btn btn-info">Cambiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>