<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Productos</title>
</head>
<body>
<div id="wrapper">
    <nav th:replace="layout/plantilla.html :: div_sidebar"/>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="layout/plantilla.html :: header"/>
            <div class="container-fluid">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- mensaje de advertencia aqui -->
                            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
                            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
                            <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <strong>
                                        <span class="fa fa-th"></span>
                                        <span>TODOS LOS PRODUCTOS</span>
                                    </strong>
                                    <div class="pull-right">
                                        <!-- href hace referencia al archivo anadir producto -->
                                        <a class="btn btn-primary" th:href="@{/productos/agregar_productos}">Agregar producto</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px;">#</th>
                                            <th> Imagen</th>
                                            <th> Descripción</th>
                                            <th class="text-center" style="width: 10%;"> Categoría</th>
                                            <th class="text-center" style="width: 8%;"> Stock</th>
                                            <th class="text-center" style="width: 10%;"> Precio de compra</th>
                                            <th class="text-center" style="width: 10%;"> Precio de venta</th>
                                            <th class="text-center" style="width: 12%;"> Agregado</th>
                                            <th class="text-center" style="width: 12%;"> Ultima vez Modificado</th>
                                            <th class="text-center" style="width: 100px;"> Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="prod, contador : ${producto}">
                                        <!-- se lista todas los productos existentes -->
                                        <div>
                                <span>
                                    <tr>
                                        <td class="text-center">
                                            <!-- recupera el id del producto -->
                                            <b> <span th:text="${contador.count}"/></b>
                                        </td>
                                        <td th:if="${prod.getMedia_id().getId() != 0}">
                                            <!-- src referencia que no hay imagen -->
                                            <img class="img-avatar img-circle"
                                                 th:src="@{'/imagenes/' + ${prod.getMedia_id().getFile_name()}}"
                                                 th:alt="${prod.getMedia_id().getFile_name()}">
                                        </td>
                                        <td>
                                            <!-- recupera la descripcion del producto -->
                                            <span th:text="${prod.getName()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la categoría del producto  -->
                                            <span th:text="${prod.getCategories().getName()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la cantidad del producto -->
                                            <span th:if="${prod.getQuantity() != '0'}">
                                                <span th:text="${prod.getQuantity()}"></span>
                                            </span>
                                            <span class="label label-warning" th:if="${prod.getQuantity() == '0'}">
                                                Sin existencias
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera el precio de compra -->
                                            <span th:text="${'$ '+prod.getBuy_price()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera el precio de venta -->
                                            <span th:text="${'$ '+prod.getSale_price()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la fecha del producto -->
                                            <span th:text="${prod.getDate()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la fecha de modificación del producto-->
                                            <span th:if="${prod.getModified_date() != null}">
                                                <span th:text="${prod.getModified_date()}"></span>
                                            </span>
                                            <span class="label label-success" th:if="${prod.getModified_date() == null}">
                                                Sin cambios
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <!-- href referencia al archivo de edicion de producto -->
                                                <a th:href="@{/productos/editar_producto/} + ${prod.getId()}"
                                                   class="btn btn-info btn-xs" title="Editar" data-toggle="tooltip">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                                <!-- href referencia al archivo de eliminar producto -->
                                                <a th:href="@{/productos/eliminar_producto/} + ${prod.getId()}"
                                                   class="btn btn-danger btn-xs" title="Eliminar" data-toggle="tooltip">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </span>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla.html :: footer"></div>
    </div>
</div>

</body>
</html>