<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Productos</title>
</head>
<body>
<header th:replace="layout/plantilla.html :: header"></header>
<div th:replace="layout/plantilla.html :: div_sidebar"></div>
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <!-- mensaje de advertencia aqui -->
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-right">
                        <!-- href hace referencia al archivo anadir producto -->
                        <a class="btn btn-primary" th:href="@{/productos/agregar_productos}">Agregar producto</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" th:if="${productos !=null and !productos.isEmpty()}">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">#</th>
                                <th> Imagen</th>
                                <th> Descripción </th>
                                <th class="text-center" style="width: 10%;"> Categoría </th>
                                <th class="text-center" style="width: 10%;"> Stock </th>
                                <th class="text-center" style="width: 10%;"> Precio de compra </th>
                                <th class="text-center" style="width: 10%;"> Precio de venta </th>
                                <th class="text-center" style="width: 10%;"> Agregado </th>
                                <th class="text-center" style="width: 100px;"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- se lista todas los productos existentes -->
                            <div>
                                <span >
                                    <tr th:each="producto, contador : ${productos}">
                                        <td class="text-center">
                                            <!-- recupera el id del producto -->
                                            <b><span th:text="${contador.count}"/></b>
                                        </td>
                                        <td>
                                            <!-- src referencia que no hay imagen -->
                                            <img class="img-avatar img-circle" src="" alt="">
                                            <!-- src recupera la imagen del producto -->
                                            <img class="img-avatar img-circle" src="" alt="">
                                            <!--<h3 th:text="${product.getMedia_id()}"></h3>-->
                                        </td>
                                        <td>
                                            <!-- recupera la descripcion del producto -->
                                            <span th:text="${producto.getName()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la categoría del producto -->
                                            <span th:text="${producto.getCategorie_id().getName()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la cantidad del producto -->
                                            <span th:text="${producto.getQuantity()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera el precio de compra -->
                                            <span th:text="${producto.getBuy_price()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera el precio de venta -->
                                            <span th:text="${producto.getSale_price()}"/>
                                        </td>
                                        <td class="text-center">
                                            <!-- recupera la fecha del producto -->
                                            <span th:text="${producto.getDate()}"/>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <!-- href referencia al archivo de edicion de producto -->

                                                <a th:href="@{/productos/editar_producto/} + ${producto.getId()}" class="btn btn-info btn-xs"  title="Editar" data-toggle="tooltip">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                                <!-- href referencia al archivo de eliminar producto -->
                                                <a  th:href="@{/productos/eliminar_producto/} + ${producto.getId()}" class="btn btn-danger btn-xs"  title="Eliminar" data-toggle="tooltip">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </span>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>