<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla.html :: head">
    <title>Agregar Ventas</title>
</head>
<body>
<div id="wrapper">
    <nav th:replace="layout/plantilla.html :: div_sidebar"/>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="layout/plantilla.html :: header"/>
            <div class="container-fluid">
                <div>
                    <div th:fragment="list_ventas">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- mensaje de advertencia aqui -->
                                <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
                                <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
                                <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <strong>
                                            <span class="fa fa-th"></span>
                                            <span>Todas las ventas</span>
                                        </strong>
                                        <div class="pull-right">
                                            <!-- href referenacia al archivo de anadir ventas -->
                                            <a href="" class="btn btn-primary" th:href="@{/ventas/agregar_ventas}">Agregar venta</a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped" th:if="${ventas != null and !ventas.isEmpty()}">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">#</th>
                                                <th> Nombre del producto</th>
                                                <th class="text-center" style="width: 15%;"> Precio por Unidad</th>
                                                <th class="text-center" style="width: 15%;"> Cantidad</th>
                                                <th class="text-center" style="width: 15%;"> Total</th>
                                                <th class="text-center" style="width: 15%;"> Fecha</th>
                                                <th class="text-center" style="width: 100px;"> Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- recupera todas las ventas -->
                                            <tr th:each="vent , contador : ${ventas}">
                                                <td class="text-center">
                                                    <!-- recupera el ID del prodcuto -->
                                                    <span th:text="${contador.count}"/>
                                                </td>
                                                <td>
                                                    <!-- recupera el nombre de la venta -->
                                                    <span th:text="${vent.getProduct_id().getName()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- recupera el precio unitario de la venta -->
                                                    <span th:text="${'$ '+vent.getProduct_id().getSale_price()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- recupera la cantidad de la venta -->
                                                    <span th:text="${vent.getQty()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- recupera el precio total de la venta -->
                                                    <span th:text="${'$ '+vent.getPrice()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!-- recupera la fecha de la venta -->
                                                    <span th:text="${vent.getDate()}"/>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                        <!-- href referencia al archivo de editar venta -->
                                                        <a th:href="@{/ventas/editar_venta/} + ${vent.getId()}"
                                                           class="btn btn-warning btn-xs" title="Edit" data-toggle="tooltip">
                                                            <span class="fa fa-edit"></span>
                                                        </a>
                                                        <!-- href referencia al archivo de borrar venta -->
                                                        <a th:href="@{/ventas/eliminar_venta/} + ${vent.getId()}"
                                                           class="btn btn-danger btn-xs" title="Delete" data-toggle="tooltip">
                                                            <span class="fa fa-trash"></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla.html :: footer"></div>
    </div>
</div>

</body>
</html>